/system/* linguist-vendored
/application/* linguist-vendored

/application/controllers/** linguist-detectable=true
/application/views/** linguist-detectable=true
/application/models/** linguist-detectable=true